assets/node_modules
assets/vendor
assets/css
assets/img
db
EXTRA
forms
images
lang
validation
vendor
article.php
updatepwd.php
search.php
forgotpwd.php
homeblog.php
inner-page.php
newpwd.php
footer.js
