@import 'font';
@import 'color';
@import 'width';

body 
{
   font-size: $size;
}

*{ margin: 0; padding: 0;}

a 
{
  text-decoration: none !important;
}

a:hover {
  color: $ahovercolor;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: $fontfamily;
}
